<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    {% include 'nav.html' %}

    <div class="card-grid">
        {% for d in data %}
        <div class="card" style="width: 18rem;">
            <img src="{{ d['Image'] }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">{{ d['Name'] }}</h1>
                <h6 class="card-text">{{ d['Description'] }}</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">${{ d['Price'] }}</li>

            </ul>
            
            <div class="card-body">
                <a href="{{ url_for('get_product', product_id=d['ID']) }}" class="btn btn-danger">View</a>
                <a href="{{ url_for('cart.add_to_cart', product_id=d['ID']) }}" class="btn btn-primary">Add to cart</a>
                <!-- need to add route link to button -->
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>